h1 {
  font-family: cursive,arial,helvetica,"Times New Roman",sans-serif;
  background-color:  #d71455;
  border-radius: 15px;
  padding: 50px;
  font-size: 75px;
}

h2 {
  font-family: monospace;
  background-color: white;
  padding: 4px;
  border-radius: 4px;
}

body {
  padding: 5%;
  background-color: #65b4f1;
}
